#Document retrieval from wikipedia data

#Fire up GraphLab Create

In [2]:
import graphlab

#Load some text data - from wikipedia, pages on people

In [3]:
people = graphlab.SFrame('people_wiki.gl/')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\zcj\AppData\Local\Temp\graphlab_server_1506416783.log.0

This non-commercial license of GraphLab Create for academic use is assigned to zhangchaojie@ruc.edu.cn and will expire on September 24, 2018.

Data contains:  link to wikipedia article, name of person, text of article.

In [4]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [5]:
len(people)

59071

#Explore the dataset and checkout the text it contains

##Exploring the entry for president Obama

In [6]:
obama = people[people['name'] == 'Barack Obama']

In [42]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'operations': 1L, 'repres... | {'operations': 3.811771079... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

##Exploring the entry for actor George Clooney

#Get the word counts for Obama article

In [10]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

##Sort the word counts for the Obama article

###Turning dictonary of word counts into a table

In [12]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

###Sorting the word counts to show most common words at the top

In [13]:
obama_word_count_table.head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+------------------+-------+
|       word       | count |
+------------------+-------+
|    normalize     |   1   |
|      sought      |   1   |
|      combat      |   1   |
|    continued     |   1   |
| unconstitutional |   1   |
|        8         |   1   |
|   californias    |   1   |
|       1996       |   1   |
|     marriage     |   1   |
|     defense      |   1   |
+------------------+-------+
[10 rows x 2 columns]

In [14]:
obama_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   a   |   7   |
|   he  |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

Most common words include uninformative words like "the", "in", "and",...

#Compute TF-IDF for the corpus 

To give more weight to informative words, we weigh them by their TF-IDF scores.

In [15]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [20]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [26]:
people['tfidf'] = tfidf

In [27]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[10 rows x 5 columns]

##Examine the TF-IDF for the Obama article

In [28]:
obama = people[people['name'] == 'Barack Obama']

In [29]:
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

Words with highest TF-IDF are much more informative.

#Manually compute distances between a few people

Let's manually compare the distances between the articles for a few famous people.

In [30]:
clinton = people[people['name'] == 'Bill Clinton']

In [84]:
beckham = people[people['name'] == 'David Beckham']

##Is Obama closer to Clinton than to Beckham?

We will use cosine distance, which is given by

(1-cosine_similarity) 

and find that the article about president Obama is closer to the one about former president Clinton than that of footballer David Beckham.

In [85]:
victoria=people[people['name']=='Victoria Beckham']

In [32]:
graphlab.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

0.8339854936884276

In [33]:
graphlab.distances.cosine(obama['tfidf'][0],beckham['tfidf'][0])

0.9791305844747478


#Build a nearest neighbor model for document retrieval

We now create a nearest-neighbors model and apply it to document retrieval.

In [82]:
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

#Applying the nearest-neighbors model for retrieval

##Who is closest to Obama?

In [83]:
knn_model.query(beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.028ms     |

| Done         |         | 100         | 295.174ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |  David Beckham  |      0.0       |  1   |
|      0      |  Steven Gerrard | 0.741610738255 |  2   |
|      0      |  Didier Drogba  | 0.747747747748 |  3   |
|      0      | Gordon Strachan |      0.75      |  4   |
|      0      |   Wayne Rooney  | 0.752351097179 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

As we can see, president Obama's article is closest to the one about his vice-president Biden, and those of other politicians.

##Other examples of document retrieval

In [36]:
swift = people[people['name'] == 'Taylor Swift']

In [37]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.628ms     |

| Done         |         | 100         | 343.651ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [38]:
jolie = people[people['name'] == 'Angelina Jolie']

In [39]:
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.631ms     |

| Done         |         | 100         | 323.407ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [40]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [41]:
knn_model.query(arnold)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.012ms     |

| Done         |         | 100         | 540.002ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]

In [43]:
Elton=people[people['name']=='Elton John']

In [44]:
Elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [51]:
Elton[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [48]:
type(Elton[['word_count']])

graphlab.data_structures.sframe.SFrame

In [52]:
Elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [63]:
Elton['tfidf'][0]

{'1': 4.195753163848633,
 '10': 2.3157231098806563,
 '100': 8.922437249692202,
 '1947': 3.756656611073944,
 '1967': 3.01368460510379,
 '19702000': 10.293348208665249,
 '1976': 2.71622627778857,
 '1980s': 2.9688582293167167,
 '1988': 2.4491074905234376,
 '1992': 2.278351314316948,
 '1994': 2.2375557576874794,
 '1996': 2.135691193468776,
 '1997': 4.259668904415891,
 '1998': 2.0687826320938068,
 '2': 2.2482408126990716,
 '200': 3.8524016680323285,
 '2002': 1.8753125887822302,
 '2004': 3.3806887216718016,
 '2005': 1.6425861253275964,
 '2008': 1.5093391374786154,
 '2012he': 6.27696518791286,
 '2013': 1.9545642372230505,
 '2014': 2.2073995783446634,
 '21': 5.594501726978586,
 '25': 2.7469019349192254,
 '27': 3.110616229728885,
 '30': 2.6266580085851636,
 '300': 4.553555296486015,
 '31': 3.294838566414648,
 '33': 4.654993539331503,
 '40': 6.981906890681876,
 '49': 5.309741586956912,
 '58': 5.437419304329975,
 'a': 0.05619184472583146,
 'abbey': 5.693190564500702,
 'about': 1.9265128988375737,
 'academy': 7.06577844530489,
 'actor': 2.958040225110943,
 'after': 0.9443334420013064,
 'against': 2.0079609791418744,
 'aids': 10.262846934045534,
 'albums': 6.041205308281332,
 'all': 1.6431112434912472,
 'alltime': 4.393450855082757,
 'an': 0.8947172672456913,
 'and': 0.011177158470730924,
 'announced': 2.7377046555287814,
 'annual': 3.434258101664393,
 'artist': 2.4318137533979653,
 'artists': 5.450454477295092,
 'as': 0.2543390440248236,
 'at': 0.8612771466165147,
 'authors': 4.320811671442786,
 'award': 8.161139242211844,
 'awards': 6.8519553961056126,
 'be': 1.4062480045415613,
 'became': 1.3300599330549516,
 'become': 2.4964678658817263,
 'been': 2.932432006438807,
 'began': 1.727460095710253,
 'bernie': 6.016682089649193,
 'bestselling': 9.189156551665185,
 'billboard': 17.30368095754203,
 'bisexual': 6.7238155121838785,
 'born': 0.268196273764765,
 'brit': 6.391375539090604,
 'british': 6.714095277849417,
 'brits': 8.421546031763658,
 'buckingham': 6.6170475367581725,
 'career': 1.3050270203415668,
 'cbe': 5.249923091746003,
 'center': 2.378000039402171,
 'champion': 3.176548302748404,
 'charitable': 5.038460400044548,
 'civil': 3.3244978303233013,
 'collaborated': 3.761741983457223,
 'commander': 4.099963746694684,
 'composer': 3.2290166226410153,
 'composers': 4.295653111806631,
 'concert': 3.5032509731513444,
 'consecutive': 7.543981950148101,
 'continues': 3.3444509863519367,
 'contribution': 3.9980822072256026,
 'copies': 4.500334600281105,
 'culture': 3.1328905761273576,
 'datein': 8.153282045168979,
 'david': 2.4512658353228582,
 'december': 4.00285165915879,
 'diamond': 5.028070696195412,
 'diana': 5.3955084087143375,
 'disney': 4.706099550264999,
 'dwight': 6.44320060695519,
 'elizabeth': 4.044338683525725,
 'elton': 17.482320270031995,
 'empire': 4.3624301614253005,
 'england': 2.646755623206051,
 'english': 2.239461125047026,
 'entered': 3.3434917536644764,
 'era': 3.7913080690464858,
 'established': 3.0759047769687164,
 'events': 3.0624230643017776,
 'fame': 6.0143129879257335,
 'fellow': 2.364041687151464,
 'fifty': 5.11719847609142,
 'fight': 4.274754994169014,
 'film': 2.033113917057952,
 'first': 0.6956048713993103,
 'five': 2.2137301792754096,
 'fivedecade': 10.293348208665249,
 'for': 0.36431264671643454,
 'foundation': 5.428871534029564,
 'four': 1.922106072733316,
 'from': 0.29375533798563447,
 'funeral': 5.911321573991367,
 'furnish': 18.38947183999428,
 'gay': 8.685411312155043,
 'globe': 4.144879912747602,
 'golden': 3.618155702913813,
 'grammy': 4.085764725180022,
 'had': 1.177428412308558,
 'hall': 5.270713564278079,
 'has': 3.8564778576963508,
 'have': 1.4416847832984716,
 'having': 2.448323791423765,
 'he': 1.493579903611068,
 'heavily': 4.584578192498009,
 'hercules': 7.322933743095548,
 'highestprofile': 8.789270811888976,
 'him': 4.726752980361581,
 'his': 1.0504458208546292,
 'hits': 3.7189699613970224,
 'hollywood': 3.902268967127278,
 'honors': 3.7995943688135627,
 'hosting': 4.806478735572622,
 'hot': 8.195845859319663,
 'icon': 5.433535804303577,
 'ii': 3.3077063910260405,
 'impact': 4.04144432549936,
 'in': 0.017377314302186087,
 'inception': 5.391784009623355,
 'including': 1.2272824458461182,
 'inducted': 3.6213152632041816,
 'inductee': 6.2951475069960505,
 'industry': 2.9570625486439512,
 'influential': 3.738702807457348,
 'into': 4.815188827219817,
 'involved': 2.674114792438443,
 'is': 0.11046500190207996,
 'its': 3.3751896805390627,
 'john': 13.93931279239831,
 'jubilee': 5.648957309523876,
 'kennedy': 4.279633052622447,
 'kenneth': 4.798231266142604,
 'knighthood': 6.9975113426609195,
 'lasting': 5.905091024240731,
 'late': 2.374355720500003,
 'later': 1.4294496043477696,
 'least': 4.251903729252247,
 'legal': 3.4243337579995425,
 'legend': 4.464402591055042,
 'lgbt': 5.5883326877074415,
 'list': 3.1286278298933916,
 'look': 4.303134443458919,
 'lyricist': 5.644161137260383,
 'making': 2.7223896254962385,
 'male': 4.378494763929107,
 'march': 1.9573172463231197,
 'marriage': 8.230808189229297,
 'million': 9.053489066276878,
 'more': 5.021336851896435,
 'most': 1.4186204428983973,
 'movements': 5.030658019760364,
 'music': 5.378377975206105,
 'musicians': 3.5587565486923007,
 'named': 2.0300155412252816,
 'nine': 3.2624907325491286,
 'no': 7.1892706571891525,
 'number': 4.24604216610848,
 'occasional': 4.771887290803003,
 'of': 0.05403029058844982,
 'on': 1.1064765201036022,
 'one': 2.79279220142615,
 'openly': 5.056906245835299,
 'order': 2.8044952529317895,
 'oscar': 4.781937626656504,
 'outside': 3.6528189935675104,
 'outstanding': 3.383594927020439,
 'over': 2.975646311911467,
 'overallelton': 10.986495389225194,
 'palace': 9.813124388259208,
 'parties': 4.495771854722687,
 'partner': 3.4248536436364145,
 'partnership': 4.1599501656686,
 'party': 4.708022306948445,
 'performed': 2.5307521601251795,
 'pianist': 4.07474808897352,
 'princess': 5.038460400044548,
 'producer': 2.6157162162644934,
 'queens': 4.023305403354957,
 'raised': 3.059531844362216,
 'ranked': 7.642003828328697,
 'received': 3.0793219631333275,
 'record': 2.1528869065343033,
 'records': 2.678542843954175,
 'reginald': 6.781802769834228,
 'rock': 5.886949007853824,
 'roll': 9.162533862388706,
 'rolling': 4.8401661315562965,
 'royal': 2.8056144472288045,
 'samesex': 5.89889905399281,
 'services': 6.037737299782756,
 'seven': 2.7917137507818355,
 'since': 7.276883586540205,
 'singer': 2.7818235602743835,
 'single': 5.774489654856468,
 'singles': 3.7372803321108052,
 'sir': 3.956522477518808,
 'six': 2.4538226269605703,
 'social': 2.6226865047083137,
 'sold': 6.702383005931559,
 'solo': 2.838628259301248,
 'something': 4.272324859315723,
 'song': 2.869182927623221,
 'songwriter': 7.349218450296059,
 'songwriters': 11.250406447031539,
 'stone': 4.332342869041976,
 'successful': 2.679282762596886,
 'such': 1.763337513538397,
 'taupin': 9.600201028105303,
 'than': 6.195113430831934,
 'the': 0.0027426017494956603,
 'they': 1.8993401178193898,
 'third': 2.3506306680914584,
 'time': 1.3253342074200498,
 'to': 0.1877797507271969,
 'tonightcandle': 10.986495389225194,
 'tony': 3.6043710234876816,
 'top': 9.096257662993823,
 'two': 1.0988831858473562,
 'us': 1.9319904488071395,
 'was': 0.15873157122436693,
 'way': 2.9688582293167167,
 'wed': 6.908957945319475,
 'westminster': 5.272762583715825,
 'which': 0.7674309670437692,
 'who': 0.9098952189804214,
 'wind': 4.86181199833099,
 'winning': 2.416330313042851,
 'with': 0.40493728504412135,
 'worked': 1.553891853362109,
 'world': 1.370623244696304,
 'worldwide': 7.008752931346158,
 'year': 1.3423616371539895,
 'years': 1.0752380994247055,
 'you': 2.914652239616036}

In [66]:
beckham['tfidf'][0]

{'1': 2.0978765819243166,
 '100': 5.9482914997948,
 '115': 6.2329051981188295,
 '12': 2.511583590065563,
 '17': 2.7543211528412543,
 '18': 2.726778428203672,
 '1975': 2.762331876587333,
 '1992': 2.278351314316948,
 '1996': 2.135691193468776,
 '1998': 2.0687826320938068,
 '1999': 3.9936033767292685,
 '2': 2.2482408126990716,
 '2000': 1.8763068991994527,
 '2002': 1.8753125887822302,
 '2004': 1.6903443608359008,
 '2004renowned': 10.986495389225194,
 '2006': 1.520737905384506,
 '2007': 1.4879730697555795,
 '2009': 1.5644364836042695,
 '2010': 1.5928339601219734,
 '201213': 5.620519374203343,
 '2013': 3.909128474446101,
 '2014': 2.2073995783446634,
 '2016': 6.174311033852777,
 '2017': 7.348909229498808,
 '20year': 6.979162203992724,
 '21': 2.797250863489293,
 '50': 3.3613882409862943,
 '58': 5.437419304329975,
 'a': 0.01685755341774944,
 'ability': 4.213415013569659,
 'age': 2.138848033513307,
 'aged': 4.748170764185686,
 'among': 2.299897032948229,
 'an': 0.8947172672456913,
 'and': 0.008941726776584738,
 'announced': 5.475409311057563,
 'appearance': 3.3277958309568954,
 'appearances': 2.8360274776011907,
 'appearing': 3.7487171973017515,
 'arsenal': 5.755386772370608,
 'as': 0.1271695220124118,
 'at': 0.645957859962386,
 'beckham': 56.922355026538426,
 'beckhams': 9.19473591999714,
 'been': 1.954954670959205,
 'began': 1.727460095710253,
 'begin': 4.92971137599657,
 'bending': 7.808441558877249,
 'best': 1.5336010724149785,
 'bkm': 10.986495389225194,
 'born': 0.268196273764765,
 'british': 2.238031759283139,
 'brooklyn': 4.150236111948127,
 'captain': 3.6799639902856893,
 'career': 2.6100540406831336,
 'careerbeckhams': 10.986495389225194,
 'champions': 8.016563293188991,
 'championship': 5.147548438811336,
 'children': 2.4252853123921825,
 'club': 4.417263349208051,
 'consistently': 5.266183612617783,
 'contract': 3.158855842858772,
 'countries': 3.3746529896447774,
 'crossing': 5.552773385670955,
 'cup': 5.345286243653974,
 'currently': 1.637088969126014,
 'david': 2.4512658353228582,
 'debut': 4.344627132073753,
 'during': 1.3174651479035495,
 'earners': 9.377057476791094,
 'earning': 3.857197840295821,
 'editions': 4.642614955098863,
 'eldest': 5.497557663068508,
 'end': 4.839120211828286,
 'england': 7.940266869618153,
 'english': 4.478922250094052,
 'european': 2.590340526186013,
 'expansion': 4.775895312200541,
 'fa': 4.835892620778915,
 'february': 2.1088344556315284,
 'fifa': 14.135200103949765,
 'final': 4.877933996025768,
 'first': 1.3912097427986205,
 'firstteam': 5.157549771614987,
 'fiveyear': 5.531174273867493,
 'football': 5.117141331134278,
 'footballer': 6.477797101064617,
 'for': 0.5100377054030083,
 'former': 1.3573131120992086,
 'four': 5.766318218199948,
 'france': 3.0078416601424633,
 'freekicks': 9.600201028105303,
 'galaxy': 17.96784934638324,
 'game': 2.4168995190159084,
 'gamesin': 6.313666554763288,
 'greatest': 3.7530399706037554,
 'group': 1.9855189451548496,
 'has': 1.285492619232117,
 'have': 1.4416847832984716,
 'he': 2.560422691904688,
 'highest': 3.43846641929018,
 'his': 1.5756687312819437,
 'holds': 2.8415259721373194,
 'in': 0.015446501601943188,
 'international': 1.457919491753774,
 'investors': 5.570394987020774,
 'is': 0.02761625047551999,
 'italy': 3.366771175442524,
 'joseph': 3.7092476625937105,
 'july': 1.9428000946579587,
 'la': 8.405108205180348,
 'league': 10.428368921549833,
 'liga': 5.956057467832759,
 'list': 3.1286278298933916,
 'listed': 3.9149220250136625,
 'living': 3.051265849408287,
 'loan': 4.332342869041976,
 'made': 4.559658646508922,
 'madrid': 9.345894685896198,
 'major': 2.0581201293715634,
 'manchester': 8.137579558779779,
 'married': 2.327976261718522,
 'may': 3.5798994565424014,
 'miami': 4.077740609909974,
 'milan': 9.364093173606426,
 'million': 3.017829688758959,
 'mls': 6.126682984863522,
 'monthshe': 8.588600116426823,
 'named': 2.0300155412252816,
 'national': 1.1860931647723914,
 'north': 2.4321991098574545,
 'obe': 5.323534909089249,
 'of': 0.02909323339378067,
 'on': 0.36882550670120073,
 'or': 1.9128915408224825,
 'outfield': 5.9758600951289385,
 'over': 1.4878231559557336,
 'own': 2.269959656680699,
 'paid': 4.48821323974876,
 'paris': 3.190026146139137,
 'passing': 4.963047796264162,
 'play': 4.540574836146684,
 'played': 6.181760801753935,
 'player': 10.672013128740325,
 'players': 3.081791475351448,
 'plays': 2.869182927623221,
 'premier': 3.6766139034004075,
 'preston': 5.592867842872833,
 'previous': 3.538161528327719,
 'professional': 3.900302650593952,
 'range': 3.6626648230228773,
 'ranked': 3.8210019141643485,
 'real': 6.741408634378723,
 'record': 2.1528869065343033,
 'retirement': 3.2137426727564526,
 'robert': 2.802818806604537,
 'runnerup': 4.249528431223339,
 'saintgermain': 7.895452935866879,
 'season': 3.7750672104648015,
 'seasons': 2.6358291487042704,
 'september': 1.9011515074236967,
 'signed': 2.5176524587500038,
 'since': 1.455376717308041,
 'six': 4.907645253921141,
 'soccer': 4.275972279772766,
 'son': 2.5762194801550344,
 'spain': 3.7515969689103628,
 'spells': 5.316614466244674,
 'spent': 2.418609083493439,
 'sports': 3.001691999490788,
 'states': 1.824400329877006,
 'team': 3.464084885261381,
 'the': 0.0021331346940521804,
 'then': 1.4309354361561304,
 'they': 1.8993401178193898,
 'three': 1.4915025293575952,
 'times': 4.200172444751827,
 'title': 2.5500785078362447,
 'titles': 3.5713202796118995,
 'to': 0.1408348130453977,
 'total': 3.2767385247710297,
 'tournaments': 4.5172450724294215,
 'twice': 6.660316445590023,
 'two': 2.1977663716947125,
 'u16': 7.248825770941826,
 'uefa': 9.680332263112593,
 'united': 6.2716883146822235,
 'victoria': 3.941590272095824,
 'was': 0.3968289280609173,
 'where': 1.089076212090673,
 'which': 2.302292901131308,
 'while': 1.8364359481339414,
 'win': 2.5472637392786686,
 'winning': 2.416330313042851,
 'with': 1.2148118551323641,
 'won': 1.3836400683164753,
 'world': 4.111869734088912,
 'worlds': 3.5737313717986314,
 'would': 4.273102323979196,
 'year': 1.3423616371539895,
 'years': 1.0752380994247055}

In [86]:
graphlab.distances.cosine(victoria['tfidf'][0],Elton['tfidf'][0])

0.9567006376655429

In [68]:
paul=people[people['name']=='Paul McCartney']

In [69]:
paul[['tfidf']].stack('tfidf',new_column_name=['word','count'])

Columns:
	word	str
	count	float

Rows: 162

Data:
+-----------+---------------+
|    word   |     count     |
+-----------+---------------+
|  children | 2.42528531239 |
|    five   | 2.21373017928 |
|  married  | 2.32797626172 |
|   father  | 2.53865227594 |
| education |  2.4487155642 |
|    land   | 3.95652247752 |
|  hunting  | 6.16621382362 |
|   rights  |  3.0667756283 |
|  subjects | 4.35713213579 |
| charities | 5.40676556324 |
+-----------+---------------+
[162 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [70]:
paul

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'all': 1L, 'gold': 1L, 'o... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'all': 1.6431112434912472... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [71]:
graphlab.distances.cosine(paul['tfidf'][0],Elton['tfidf'][0])

0.8250310029221779

In [88]:
knn_word_model=graphlab.nearest_neighbors.create(people,features=['word_count'],label='name')

Starting brute force nearest neighbors model training.

In [87]:
knn_model.query(Elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.031ms     |

| Done         |         | 100         | 313.099ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [89]:
knn_word_model.query(Elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.022ms      |

| Done         |         | 100         | 260.22ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [90]:
knn_word_model=graphlab.nearest_neighbors.create(people,features=['word_count'],distance='cosine',label='name')

Starting brute force nearest neighbors model training.

In [91]:
knn_tfidf_model=graphlab.nearest_neighbors.create(people,features=['tfidf'],distance='cosine',label='name')

Starting brute force nearest neighbors model training.

In [92]:
knn_word_model.query(Elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.021ms      |

| Done         |         | 100         | 296.189ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [93]:
knn_tfidf_model.query(Elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.028ms      |

| Done         |         | 100         | 314.838ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [94]:
knn_word_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.023ms      |

| Done         |         | 100         | 284.757ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [95]:
knn_tfidf_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.025ms      |

| Done         |         | 100         | 308.212ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]